#app-navigation > div {
    margin: 6px;
}

#app-navigation > div > h2 {
    font-weight: bold;
}

#app-navigation > div:first-child {
    margin-bottom: 24px;
}

#app-sync-now,
#app-navigation > div [type='text'],
#app-navigation > div [type='password'] {
    width: 100%;
}


#app-content table {
    width: 100%;
}



#app-content table th,
#app-contenttable td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
}

#app-content table th {
    padding: 15px;
    height: 50px;
    color: #999;
    background-color: #fff;
}

#app-content table,
#app-content td,
#app-content th {
    vertical-align: middle;
}

#app-content table td {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    font-style: normal;
    background-position: 8px center;
    background-repeat: no-repeat;
}