#app-navigation > div {
    margin: 6px;
}

#app-navigation > div > h2 {
    font-weight: bold;
}

#app-navigation > div:first-child {
    margin-bottom: 24px;
}

#app-sync-now,
#app-navigation > div [type='text'],
#app-navigation > div [type='password'] {
    width: 100%;
}